<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Рейтинг IT инновации в бизнесе</title>
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    </head>
    <body>
        {{{body}}}
        {{#each js}}
            <script src="/js/{{this}}"></script>
        {{/each}}
    </body>
</html>
